@import url("http://www.w3schools.com/lib/w3.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: 'Helvetica'
}

.hidden {
  display: none;
}
